.table-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.table-name {
	text-align: center;
	font-weight: bold;
}

.table-email {
	color: #777;
	font-style: italic;
}
.no-data {
	font-size: 12px;
	color: #999;
	text-align: center;
}

.table-actions > .btn-container {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
}

.btn {
	padding: 0.25rem 0.125rem;
	border: none;
	border-radius: 3px;
	background-color: green;
	color: white;
	cursor: pointer;
	resize: none;
}
.btn-delete {
	background-color: red;
}
