/* .main-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
} */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.about-section {
    text-align: center;
    padding: 50px;
    background-color: var(--light-color);
}

.aboutUs-title{
    /* font-size: 45px;
    margin-bottom: 1rem; */
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color:var(--primery-color);
    text-transform: uppercase;
    text-shadow: 1px 1px 0px var(--light-color),
        1px 2px 0px var(--light-color),
        1px 3px 0px var(--light-color),
        1px 4px 0px var(--light-color),
        1px 5px 0px var(--light-color),
        1px 6px 0px var(--light-color),
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}
.aboutUs-title2{
    font-size: 35px;
    padding: 1rem;
    text-align:center
}

.about-section h1 {
    color: #333;
}

.about-section p {
    color: #555;
    line-height: 1.6;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.column {
    flex: 1;
    max-width: 300px;
    margin: 0 15px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.column:hover {
    transform: scale(1.05);
}

.card {
    text-align: center;
}

.card-img-container-aboutUs{
    min-height: 35rem;
}

.card-img-aboutUs {
    min-height: 35rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover; 
}

.container {
    padding: 20px;
}



.aboutUs-p {
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.achievements-section {
    background-color: var(--light-color);
    padding: 20px;
    text-align: center;
}

.achievements-section h2 {
    font-size: 24px;
    color: #333;
}

.achievements-section ul {
    list-style: none;
    padding: 0;
}

.achievements-section li {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
} 